

$dev-border: 2px dotted rgb(240, 122, 177);
@use "sass:map";
@import "./utils/mixins";
@import "./utils/variables";
@import "./utils/keyframes";

@import "./layout/header";
@import "./layout/footer";

@import "./base/reset";

@import "./components/spinner";
@import "./components/button";
@import "./components/icons";

@import "./pages/home";
@import "./pages/restaurant";

// main container

#primary__container {
    opacity: 0;
    animation: fadeIn 1s forwards 5s;
}

// primary restaurant content

.primary-restaurant-content {
    &--cards {
        &--image {
            height: 275px;
            img {
                width: 100%;
                position: relative;
                height: 100%;
                border: 1px solid blue;
            }
            
        }
    }
}

// .secondary__restaurant__content {
//     position: relative;
//     margin-top: -50px;
//     padding: 32px 13px 40px;
//     background: #F6F6F6;
//     border-radius: 50px 50px 0 0;
//     text-align: justify;
//     &--title {
//         font-family: Shrikhand;
//         // font-size: 28px;
//         font-style: italic;
//         font-weight: 400;
//         line-height: 40.82px;
//         margin: 0 17px;
//     }
//     &--like {
//         position: relative;
//         top: 4.5vh;
//         right: 5vh;
//         // width: 21px;
//         // height: 22px;
//         i {
//             position: absolute;
//             width: 100%;
//             height: 100%;
//         }
//         &:hover {
//             cursor: pointer;
//             background: linear-gradient(180deg, $ohmyfood-purple 0%, $ohmyfood-pink 100%);
//             background-clip: text;
//             font-weight: 900px;
//             color: transparent;
//         }
//     }
//     &--buttons {
//         margin-top: 42px;
//         font-family: $ohmyfood-roboto;
//         text-align: justify;
//         &--button {
//             position: relative;
//             margin-bottom: 12px;
//             &--cards {
//                 display: grid;
//                 padding: 12px 47px 36px 15px;
//                 width: 100%;
//                 height: 69px;
//                 border-radius: 15.04px;
//                 background: #FFFFFF;
//                 box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
//                 padding-bottom: 5px;
//                 white-space: nowrap;
//                 -o-text-overflow: ellipsis;
//                 text-overflow: ellipsis;
//                 overflow: hidden;
//                 &--title {
//                     font-size: 18px;
//                     font-weight: 500;
//                     line-height: 21.09px;
//                     padding-bottom: 5px;
//                     height: 21px;
//                     border: 1px dotted #99E2D0;
//                 }
//                 &--subtitle {
//                     font-size: 15.04px;
//                     font-weight: 300;
//                     line-height: 17.63px;
//                     height: 19px;
//                     border: 1px dotted #99E2D0;
//                 }
//             }
//             &--price {
//                 position: absolute;
//                 top: 4.2vh;
//                 right: 1.5vh;
//                 p {
//                     bottom: 1.8vh;
//                     left: 29.5vh;
//                     font-size: 15.04px;
//                     font-weight: 700;
//                     line-height: 17.63px;
//                 }
//             }
            
//         }
//         &--title {
//             text-transform: uppercase;
//             font-size: 16px;
//             font-weight: 300;
//             line-height: 18.75px;
//             padding-bottom: 7px;
//             height: 27px;
//             color: #000000;
//         }
//         &--border {
//             position: relative;
//             display: block;
//             width: 40px;
//             height: 0px;
//             bottom: 4px;
//             border: 2px solid #99E2D0;
//             margin-bottom: 12px;
//         }
//     }
//     &--button {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         text-align: center;
//         margin-top: 40px;
//         button {
//             padding: 16px 49px;
//             @include main-button-style;
//         }
//     }
// }