%main-button {
    background: linear-gradient(0deg, map.get($ohmyfood-variable, "purple") -11.44%, map.get($ohmyfood-variable, "pink") 123.93%);
    box-shadow: 0px 4px 10px 0px #00000040;
    border: initial;
    border-radius: 25px;
    transition: transform 500ms ease;
    @include text-style(
        $font-size: 16px, $font-weight: 500, $line-height: 18.75px
    );
    &:hover {
        cursor: pointer;
        background: linear-gradient(
            0.64deg,
            map.get($ohmyfood-variable, "purple") -5.2%,
            map.get($ohmyfood-variable, "pink") 110.74%),
            linear-gradient(0deg, rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0.15)
        );
        background: linear-gradient(
            0.33deg, lighten(map.get($ohmyfood-variable, "purple"), 5),
            lighten(map.get($ohmyfood-variable, "pink"), 5)
        );
        transform: scale(1.03);
        box-shadow: 0px 4px 15px 0px #00000059;
    }
}