// main page primary content

#home-container {
    opacity: 0;
    animation: fadeIn 4s forwards;
}

// main

.main {
    padding: 35px 0;
    @include flex-display($gap: 15px);
    background-color: map.get($ohmyfood-variable, "background-white");

    &__title {
        @include text-style(
            $font-size: 24px,
            $font-weight: 700,
            $line-height: 28.13px,
            $color: map.get($ohmyfood-variable, "black")
        );
    }

    &__subtitle {
        @include text-style(
            $font-size: 18px,
            $font-weight: 300,
            $line-height: 21.09px,
            $color: #353535
        );
        margin-bottom: 27px;
    }

    &__button {
        button {
            padding: 13px 18.75px;

            &:hover {
                cursor: pointer;
                background: linear-gradient(
                    200.64deg, map.get($ohmyfood-variable, "purple") -5.2%,
                    map.get($ohmyfood-variable, "pink") 110.74%),
                    linear-gradient(0deg, rgba(255, 255, 255, 0.15),
                    rgba(255, 255, 255, 0.15)
                );
                background: linear-gradient(
                    193.33deg, lighten(map.get($ohmyfood-variable, "purple"), 5),
                    lighten(map.get($ohmyfood-variable, "pink"), 5)
                );
                transform: scale(1.03);
                box-shadow: 0px 4px 15px 0px #00000059;
            }
        }
    }
}

// main page functionality content

.functionality {
    @include flex-display(
        $align-items: baseline
    );
    padding: 48px 20px 68px;
    @include tablet-responsive {
        padding: 20px 105.68px;
    }
    
    @include desktop-responsive {
        padding: 20px 175.68px;
    };

    &__title {
        @include text-style(
            $font-size: 24px,
            $font-weight: 700,
            $line-height: 28.13px,
            $text-align: left,
            $color: map.get($ohmyfood-variable, "black")
        );
    }

    &__buttons {
        padding: 0 0 0 12.51px;
        margin-top: 26px;
        @include grid-display(
            $gap: 24.92px
        );
        @include desktop-responsive {
            @include grid-display(
                $gap: 24px,
                $column: 3
            );
        };
    }

    &__button {
        @include flex-display(
            $flex-direction: row,
            $justify-content: none
        );
        position: relative;
        padding: 28.99px 0px;
        background-color: map.get($ohmyfood-variable, "background-white");
        ;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px #00000026;

        &-number {
            @include flex-display(
                $flex-direction: row,
                $justify-content: center
                );
            @include text-style(
                $font-size: 14.18px,
                $font-weight: 500,
                $text-align: left,
                $line-height: 16.62px
            );
            margin-left: -12px;
            width: 24px;
            height: 24px;
            border-radius: 100%;
            background-color: map.get($ohmyfood-variable, "purple");
            z-index: 1;
        }

        i {
            padding-left: 21.98px;
            padding-right: 23px;
            font-size: 18px;
        }

        &-text {
            @include text-style(
                $font-size: 16px,
                $font-weight: 500,
                $text-align: left,
                $line-height: 18.75px,
                $color: map.get($ohmyfood-variable, "black")
            );
        }
    }
}

// main page terciary content

.restaurants {
    height: 100%;
    @include flex-display(
        $align-items: baseline
    );
    box-sizing: border-box;
    background: map.get($ohmyfood-variable, "background-white");
    padding: 54px 20px;

    @include tablet-responsive {
        padding: 54px 105.68px;
    };
    @include desktop-responsive {
        padding: 20px 175.68px;
    };
    &__title {
        @include text-style(
            $font-size: 24px,
            $font-weight: 700,
            $text-align: left,
            $line-height: 28.13px,
            $color: map.get($ohmyfood-variable, "black")
        );
    }

    section {
        margin-top: 15px;
        @include grid-display(
            $gap: 18px 0px
        );
        @include tablet-responsive {
            @include grid-display(
                $column: 2,
                $gap: 35px 47.84px
            );
        };
        @include desktop-responsive {
            @include grid-display($column: 2, $gap: 50px 95.68px);
        };
        article {
            border-radius: 15px;
            overflow: hidden;
            background: map.get($ohmyfood-variable, "white");
    
        }
    }
    &__card {
        padding: 16px 13px;
        position: relative;
        &-image {
            position: relative;
    
            img {
                width: 100%;
                height: 174px;
                display: block;
            }
        }
        &-new {
            position: absolute;
            top: 1vh;
            right: 1vh;
            width: 80px;
            height: 29px;
            padding: 7px 9px;
            background: map.get($ohmyfood-variable, "light-green");
            box-shadow: 0px 2px 4px 0px #00000026;
            @include text-style(
                $font-size: 14px,
                $font-weight: 500,
                $line-height: 16.41px,
                $text-align: justify,
                $color: map.get($ohmyfood-variable, "dark-green")
            );
        }
        &-title {
            padding-bottom: 5px;
            @include text-style(
                $font-size: 18px,
                $font-weight: 700,
                $text-align: left,
                $line-height: 21.09px,
                $color: map.get($ohmyfood-variable, "black")
            );
        }
    
        &-subtitle {
            @include text-style(
                $font-size: 17px,
                $font-weight: 300,
                $text-align: left,
                $line-height: 19.92px,
                $color: map.get($ohmyfood-variable, "black")
            );
            width: 247px;
            height: 24px;
            top: 215px;
            left: 13px;
            padding-bottom: 12px;
        }
        &-checkbox {
            display: none;
            &:checked + .restaurants__card-content, .restaurants__card-like {
                background: linear-gradient(
                    193.33deg, map.get($ohmyfood-variable, "purple") -11.44%,
                    map.get($ohmyfood-variable, "pink") 123.93%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                content: "\f004";
                i {
                    &.fa-heart {
                        font-weight: 900;
                    }
                }
            }
        }
        &-content {
            position: absolute;
            top: 3vh;
            right: 3vh;
            i {
                font-size: 22px;
                cursor: pointer;
                transition: color 0.3s ease-out;
            }
        }
    }
}