// main header

.header {
    @include flex-display($flex-direction: column, $align-items: normal);
    &__title {
        padding: 14px 0px 5px;
        @include text-style($font-family: map.get($ohmyfood-variable, "shrikland"), $font-size: 30px, $font-weight: 400, $line-height: 43.74px, $font-style: italic, $color: #101010);
    }
    &__search {
        @include flex-display($flex-direction: row, $justify-content: center);
        padding: 17px;
        background: map.get($ohmyfood-variable, "background-grey");
        box-shadow: 0px 4px 4px 0px #00000040;
        form {
            i {
                padding-right: 17px;
            }
        }
        input {
            padding: 0;
            border: none;
            outline: none;
            background-color: transparent;
        }
        ::placeholder {
            @include text-style($font-size: 16px, $font-weight: 500, $line-height: 18.75px, $text-align: left, $color: map.get($ohmyfood-variable, "footer-background"));
        }
    }
}

// main page primary content

.primary-content {
    padding: 35px 0;
    @include flex-display($gap: 15px);
    background-color: map.get($ohmyfood-variable, "background-white");
    &__title {
        @include text-style($font-size: 24px, $font-weight: 700, $line-height: 28.13px, $color: map.get($ohmyfood-variable, "black"));
    }
    &__secondtitle {
        @include text-style($font-size: 18px, $font-weight: 300, $line-height: 21.09px, $color: #353535);
        margin-bottom: 27px;
    }
    &__button {
        button {
            padding: 13px 18.75px;
            &:hover {
                cursor: pointer;
                background: linear-gradient(200.64deg, map.get($ohmyfood-variable, "purple") -5.2%, map.get($ohmyfood-variable, "pink") 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
                background: linear-gradient(193.33deg, lighten(map.get($ohmyfood-variable, "purple"), 5), lighten(map.get($ohmyfood-variable, "pink"), 5));
                transform: scale(1.03);
                box-shadow: 0px 4px 15px 0px #00000059;
            }
        }
    }
}

// main page secondary content

.secondary-content {
    @include flex-display($align-items: baseline);
    padding: 48px 20px 68px;
    &__title {
        @include text-style($font-size: 24px, $font-weight: 700, $line-height: 28.13px, $text-align: left, $color: map.get($ohmyfood-variable, "black"));
    }
    &__buttons {
        margin-top: 26px;
        @include grid-display($gap: 24.92px);
    }
    &__button {
        width: 100%;
        display: flex;
        position: relative;
        padding: 28.99px 0px;
        background-color: map.get($ohmyfood-variable, "background-white");;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px #00000026;
        align-items: center;
        i {
            padding-left: 33.47px;
            width: 13.02px;
            height: 19.9px;
            padding-right: 27px;
        }
        &--text {
            @include text-style($font-size: 16px, $font-weight: 500, $text-align: left, $line-height: 18.75px, $color: map.get($ohmyfood-variable, "black"));
        }
    }
    &__number {
        @include flex-display($flex-direction: row, $justify-content: center);
        @include text-style($font-size: 14.18px, $font-weight: 500, $text-align: left, $line-height: 16.62px);
        margin-left: -13px;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background-color: map.get($ohmyfood-variable, "purple");
        z-index: 1;
    }
}

// main page terciary content

.terciary-content {
    height: 100%;
    @include flex-display($align-items: baseline);
    box-sizing: border-box;
    background: map.get($ohmyfood-variable, "background-white");
    padding: 54px 20px;
    &__title {
        @include text-style($font-size: 24px, $font-weight: 700, $text-align: left, $line-height: 28.13px, $color: map.get($ohmyfood-variable, "black"));
    }
    .restaurants {
        margin-top: 15px;
        @include grid-display($gap: 18px 0px)
    }
    &__cards {
        border-radius: 15px;
        overflow: hidden;
        background: map.get($ohmyfood-variable, "white");
        &--image {
            position: relative;
            img {
                width: 100%;
                height: 174px;
                display: block;
            }
            &--new {
                position: absolute;
                top: 1vh;
                right: 1vh;
                width: 80px;
                height: 29px;
                padding: 7px 9px;
                background: map.get($ohmyfood-variable, "light-green");
                box-shadow: 0px 2px 4px 0px #00000026;
                @include text-style($font-size: 14px, $font-weight: 500, $line-height: 16.41px, $text-align: justify, $color: map.get($ohmyfood-variable, "dark-green"));
            }
        }
        &--card-content {
            padding: 16px 13px;
            position: relative;
            &--text {
                &--title {
                    padding-bottom: 5px;
                    @include text-style($font-size: 18px, $font-weight: 700, $text-align: left, $line-height: 21.09px, $color: map.get($ohmyfood-variable, "black"));
                }
                &--subtitle {
                    @include text-style($font-size: 17px, $font-weight: 300, $text-align: left, $line-height: 19.92px, $color: map.get($ohmyfood-variable, "black"));
                    width: 247px;
                    height: 24px;
                    top: 215px;
                    left: 13px;
                    padding-bottom: 12px;
                }
            }
            &--like {
                position: absolute;
                top: 3vh;
                right: 3vh;
                transition: color 0.3s, background 0.3s;
                &::before {
                    content: '';
                    color: transparent;
                    background: linear-gradient(193.33deg, map.get($ohmyfood-variable, "purple") -11.44%, map.get($ohmyfood-variable, "pink") 123.93%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    transition: opacity 0.3s;
                    cursor: pointer;
                }
                &:hover::before {
                    opacity: 1;
                }
            }
        }
    }
}

// main footer

.footer {
    background-color: map.get($ohmyfood-variable, "footer-background");
    padding: 22px 25px;
    @include text-style($font-family: map.get($ohmyfood-variable, "shrikland"), $font-size: 18px, $font-weight: 400, $text-align: left, $line-height: 26.24px);
    &__link {
        font-family: map.get($ohmyfood-variable, "roboto");
        margin-top: 7px;
        i {
            width: 11px;
            height: 13px;
            top: 2px;
            margin-right: 11px;
            color: map.get($ohmyfood-variable, "white");
        }
        li {
            // text-align: left;
            padding-top: 7px;
            font-size: 16px;
            line-height: 18.75px;
        }
        &--bold a {
            font-weight: 500;
        }
        &--normal a {
            font-weight: 400;
        }
    }
}