@keyframes spiner_rotate {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden; /* Ensure spinner is hidden after animation */
    }
}

@keyframes fadeIn {
    0%, 50% {
        opacity: 0;
        overflow: hidden;
    }
    100% {
        opacity: 1;
        overflow: auto;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Start below the view */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}