@mixin flex-display(
    $width: 100%,
    $flex-direction: column,
    $justify-content: space-between,
    $align-items: center, $gap: 0px
    ) {
    width: $width;
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

@mixin grid-display($width: 100%, $column: 1, $gap: 0px) {
    width: $width;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat($column, 1fr);
    grid-gap: $gap;
}

@mixin text-style(
    $font-family: map.get($ohmyfood-variable, "roboto"),
    $font-size,
    $font-style: normal,
    $font-weight, $line-height,
    $text-align: center,
    $color: map.get($ohmyfood-variable, "white")
    ) {
    font-family: $font-family;
    font-size: $font-size;
    font-style: $font-style;
    font-weight: $font-weight;
    line-height: $line-height;
    text-align: $text-align;
    color: $color;
}

@mixin tablet-responsive {
    @media all and (min-width: map.get($ohmyfood-variable, "tablet")) {
        @content
    }
}

@mixin desktop-responsive {
    @media all and (min-width: map.get($ohmyfood-variable, "desktop")) {
        @content
    }
}